<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="" />
        <meta name="author" content="Ari Hershowitz" />
        <!-- Bootstrap compatibility -->
        <title></title>
<link rel="stylesheet" href="static/css/packed.css">
    </head>
    <body>
        <h1>Frame: A Simple App Framework</h1>
    </body>
<script src="static/js/packed.min.js">
</html>
