<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="" />
        <meta name="author" content="Ari Hershowitz" />
        <!-- Bootstrap compatibility -->
        <title></title>
<!-- build:css(static) css/packed.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" href="bower_components/alertify.js/themes/alertify.core.css" media="screen"/>
    <link rel="stylesheet" href="bower_components/alertify.js/themes/alertify.default.css" media="screen"/>
<!-- endbuild -->
    </head>
    <body>
        <h1>Frame: A Simple App Framework</h1>
    </body>
<!-- build:js(static) js/packed.min.js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/jquery-file-upload/jquery.fileupload.js"></script>
    <script src="bower_components/jquery-file-upload/jquery.fileupload-process.js"></script>
    <script src="bower_components/jquery-file-upload/jquery.fileupload-validate.js"></script>
    <script src="bower_components/alertify.js/lib/alertify.min.js"></script>
<!-- endbuild -->
</html>
